<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn">
    <properties>
        <property name="Console pattern">%highlight{%d{HH:mm:ss} [%t] [%-5level]: %msg %throwable{short.fileName}
            %throwable{short.methodName}}</property>
        <property name="File pattern">%d{HH:mm:ss} [%t] [%-5level]: %msg %throwable{short.fileName}
            %throwable{short.methodName}
        </property>
        <property name ="file path">test_output/output/logs/ </property>
        <Property name="file name pattern">%d{dd MMM yyyy HH:mm:ss}</Property>
    </properties>

    <Appenders>
        <console name="Console"  target="SYSTEM_OUT">
            <PatternLayout pattern="${Console Pattern}"/>
        </console>

        <RollingFile name="All tests" fileName="${file path}${file name pattern} full logs.log">
            <PatternLayout pattern="${File Pattern}"/>
            <DefaultRolloverStrategy max="3">
                <Delete basePath="${file Path}" maxDepth="3">
                    <!-- Delete all files older than 30 days -->
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="single test"  fileName="${file path}test logs.log">
            <PatternLayout pattern="${File Pattern}"/></RollingFile>
    </Appenders>
<Loggers>
    <Logger name="logger" level="info" additivity="false">
        <AppenderRef ref="All tests"/>
        <AppenderRef ref="console"/>
        <AppenderRef ref="single test"/>
    </Logger>

    <Root level="info" additivity="false">
        <AppenderRef ref="All tests"/>
        <AppenderRef ref="console"/>
    </Root>
</Loggers>

</configuration>